.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  font-family: Inter, Arial, sans-serif;
}

.main__quotes {
  height: 100px;
}

.main__description {
  height: 140px;
  margin: 0;
}

.main__quotes,
.main__description {
  max-width: 440px;

  line-height: 1.3;
  font-size: 18px;
  text-align: center;
}

@media all and (max-width: 520px) {
  .main {
    margin-top: 200px;
  }

  .main__quotes,
  .main__description {
    max-width: 320px;
  }

  .main__description {
    margin-top: 35px;
  }
}
